# Node / Nuxt
node_modules/
.npm/
.pnpm-store/
.nuxt/
.output/
.cache/
.temp/
dist/
*.log
*.tmp

# Nitro / デプロイ生成物
.server/
.vercel/
.netlify/

# 環境変数
.env
.env.*
!.env.example

# OS / エディタ
.DS_Store
.fleet
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Logs
logs
*.log
